@font-face {
    font-family: 'AmaticSC-Regular';
    src: url(../font/AmaticSC-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AmaticSC-Bold';
    src: url(../font/AmaticSC-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ZillaSlab-Light';
    src: url(../font/ZillaSlab-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ZillaSlab-Medium';
    src: url(../font/ZillaSlab-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ZillaSlab-Regular';
    src: url(../font/ZillaSlab-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ZillaSlab-Bold';
    src: url(../font/ZillaSlab-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

header{
  height: 200px;
  margin-bottom: 100px;
}

body{
  background-color: #7A6263;
}

h4{
  font-family: 'ZillaSlab-Medium';
  color:#7EBDC3;
  text-transform: uppercase;
}

p,a{
  font-family: 'ZillaSlab-Light';
  text-decoration: none;
  color:white;
}

.breadcrumb a,li{
  color:white;
  font-size: 25px;
  font-family: 'ZillaSlab-Medium';
}

/* HEADER */
.fa-brands{
  color:#FEEAFA;
  margin-left: 10px;
  
}
.social{
  margin-right: 50px;
}

.fa-brands:hover{
  color:#7EBDC3;
  cursor: pointer;
}

.navbar{
  margin-bottom: 50px;
  background: #7A6263;
  border-bottom: 3px solid #7EBDC3;
  box-shadow:  11px 11px 22px #685354,
             -11px -11px 22px #8c7172;
}

.navbar-text{
  color: #FEEAFA;
  height: 100px;
}

.navbar a{
  font-family: 'ZillaSlab-Regular';
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}

li a:hover{
  color:#7EBDC3;
}

a:hover{
  color:#7EBDC3;
}

.navbar a:hover{
  color:#7EBDC3;
}

.dropdown-menu {
  background-color: #7A6263;
  color: white;
  border-color: #7A6263;
}

.dropdown-item:hover {
  background-color: #FEEAFA;
  color: white;
}

.logo img{
  height: 150px;
  width: auto;
}

/* ACCUEIL */
.carousel-item p{
  font-size: 20px;
  text-align: left;
  font-family: 'ZillaSlab-Regular';
}

.carousel-item h5{
  font-size: 35px;
  text-align: left;
  font-family: 'ZillaSlab-Bold';
  color: white;
}

.slogan{
  font-size: 90px;
  font-family: 'ZillaSlab-Bold';
  color: #FEEAFA;
  text-shadow: 10px 10px #7EBDC3;
}

#carouselExampleCaptions{
  box-shadow: 10px 10px #7EBDC3;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
  }
  
.col-lg-4 img{
    height: 500px;
    object-fit: cover;
  }

.d-flex img{
    object-fit: fill;
  }

.accueil-actu a{
  font-family: 'ZillaSlab-Bold';
  text-shadow: 5px 5px #7EBDC3;
  color: #FEEAFA;
}

.accueil-actu a:hover{
  color: white;

} 

#map {
    height: 300px;
    width: 100%;
}

/* TEMPLATE ACTU */

.lien-actu img{
  box-shadow: 10px 10px #7EBDC3;
}

.lien-actu .img-fluid:hover {
  transform: scale(1.05); /* increase the size of the image by 50% */
  transition: transform 0.3s; /* make the transition smooth */
}

.actu-lien{
  font-size: 60px;
}


.card{
  border-radius: 0px;
  height: 600px;
  box-shadow: 10px 10px #7EBDC3;
}

.card-img-top{
  height: 450px;
  object-fit: cover;
}

.btn{
  border-radius: 0px;
  background-color: #7A6263;
  border-color: #7A6263;
}

.btn:hover{
  border-radius: 0px;
  background-color: #7EBDC3;
  border-color: #7EBDC3;
}

.card-text{
  color: #7A6263;
}

h5{
  font-family: 'ZillaSlab-Bold';
  font-weight: 900;
  text-transform: uppercase;
}

.actu .col-lg-8 img{
  height: 600px;
  width: 800px;
  object-fit: cover;
}

.actu .carousel-inner img{
  height: 600px;
  object-fit: cover;

}

.lien-actu a {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

/* RESERVATION VOITURE */

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid white;
}

.form-control:hover,
.form-control:focus {
  outline: none;
  border-bottom: 2px solid #7EBDC3;
}

form, .form-group {
  margin-top: 20px;
}

.form-control::placeholder {
  font-size: 18px;
  font-family: 'ZillaSlab-Light';
  color:#7EBDC3;
}

.titre{
  font-size: 60px;
  font-family: 'ZillaSlab-Bold';
  color: #FEEAFA;
  text-shadow: 5px 5px #7EBDC3;
}

.date{
  font-size: 30px;
}

/* ACTUALITES */

.actu .card{
  height: auto;
  font-size: 20px;
}

.actu a{
  color:#7A6263;
  
}
.actu a:hover{
  color:#7EBDC3;
}

.pagination a {
  border-radius: 0!important;
}

.contact{
  font-family: 'ZillaSlab-Medium';
}

.card a {
  color: #7A6263;
  font-family: 'ZillaSlab-Medium';
}

.card a:hover {
  color: #7EBDC3;
}

/* CONTACT */

.contact h2{
  color:#7EBDC3;
  text-transform: uppercase;
  font-family: 'ZillaSlab-Bold';
  font-size: 30px;
}

.contact h1{
  font-size: 50px;
  font-family: 'ZillaSlab-Bold';
  color: #7EBDC3;
  text-transform: uppercase;
  text-shadow: 5px 5px #FEEAFA;
  margin-bottom: 100px;
}

.contact p{
  color:white;
  font-family: 'ZillaSlab-Regular';
  font-size: 25px;
}